@import "./variables.css";
@import "./mixins.css";
@import "./fonts.css";

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
}

.mn-header {
  background: var(--canvas-color);
  margin-top: 20px;
  container-type: inline-size;

  .mn-page-title {
    @mixin ResetMarginAndPadding;
    font-family: var(--primary-font-family);
  }

  .mn-header-shell {
    @mixin MarketingContainer;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
  }

  .mn-navigation {
    display: flex;
    flex-direction: column;
  }

  .mn-navigation-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style: none;
    margin-right: 20px;
  }

  .mn-navigation-link {
    font-family: var(--secondary-font-family);
    display: inline-block;
    padding-left: 12px;
    padding-top: 8px;
    padding-right: 12px;
    padding-bottom: 8px;
  }

  .mn-navigation-action-button {
    margin-left: auto;
    margin-right: auto;
  }

  @container (width > 700px) {
    .mn-header-shell {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    .mn-page-title {
      margin-left: initial;
      margin-right: initial;
    }

    .mn-navigation {
      flex-direction: row;
      align-items: center;
    }

    .mn-navigation-list {
      flex-direction: row;
      align-items: center;
    }

    .mn-navigation-list-item {
      border-bottom: 2px solid transparent;

      &:hover {
        border-bottom-color: var(--text-color);
      }
    }
  }

  @container (width > 960px) {
    .mn-header-shell {
      padding-left: initial;
      padding-right: initial;
    }
  }

  .mn-navigation-link {
    text-decoration: none;
    color: var(--text);
  }
}

.mn-hero {
  container-type: inline-size;

  .mn-heroshell {
    @mixin MarketingContainer;

    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 20px;
    padding-top: 60px;
    padding-bottom: 140px;
  }

  .mn-hero-leftside {
    grid-column: 1 / -1;
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
  }

  .mn-hero-buttonsgroup {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 40px;
  }

  .mn-hero-bigtext {
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 0;
    font-family: var(--primary-font-family);
  }

  .mn-hero-subtext {
    font-family: var(--secondary-font-family);
    font-size: 18px;
    padding-top: 15px;
    display: inline-block;
  }

  .mn-hero-rightside {
    grid-column: 1 / -1;
    order: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
  }

  .mn-hero-fancytextgroup {
    display: none;
  }

  .mn-hero-image {
    height: 250px;
  }

  @container (width > 700px) {
    .mn-hero-leftside {
      grid-column: initial;
      order: initial;
      padding-right: 0;
      align-items: flex-start;
    }

    .mn-hero-rightside {
      grid-column: initial;
      order: initial;
      align-items: flex-start;
      margin-top: 40px;
      margin-bottom: 80px;
    }

    .mn-hero-leftsideshell {
      width: 430px;
    }

    .mn-hero-bigtext {
      font-size: 48px;
    }

    .mn-hero-subtext {
      font-size: 20px;
    }

    .mn-hero-rightside {
      width: 430px;
    }

    .mn-hero-fancytextgroup {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    .mn-hero-fancytext1 {
      font-size: 18px;
    }

    .mn-hero-fancytext2 {
      font-size: 18px;
    }

    .mn-hero-fancytext3 {
      font-size: 18px;
      font-weight: 700;
    }

    .mn-hero-fancytext4 {
      font-size: 18px;
    }
  }

  @container (width > 960px) {
    .mn-heroshell {
      min-height: 540px;
    }

    .mn-hero-bigtext {
      font-size: 56px;
      line-height: 60px;
    }

    .mn-hero-subtext {
      font-size: 24px;
    }

    .mn-hero-fancytextgroup {
      width: initial;
      align-self: end;
    }

    .mn-hero-leftside {
      padding-left: 0;
    }

    .mn-hero-rightside {
      margin-top: initial;
      margin-bottom: initial;
      align-items: flex-end;
    }

    .mn-hero-image {
      height: 340px;
    }
  }
}

.mn-hiw {
  width: 100%;
  container-type: inline-size;

  @media (width > 700px) {
    padding-left: 40px;
    padding-right: 40px;
  }

  .mn-hiw-shell {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-top: 90px;
    padding-left: 20px;
    padding-bottom: 60px;
    padding-right: 20px;
    background: conic-gradient(
      from 0deg at -5% -5%,
      #fbfaf9,
      #d4c2a6b8,
      #f8bf76,
      #f9f5f0
    );
  }

  .mn-hiw-inner-shell {
    @mixin MarketingContainer;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  .mn-hiw-leftside {
    @mixin GridColumn 1 / -1, 1 / 5, 1 / 5;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 60px;
  }
  .mn-hiw-rightside {
    @mixin GridColumn 1 / -1, 6 / -1, 6 / -1;
  }

  .mn-hiw-titlelabel {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .mn-hiw-rightsideshell {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .mn-hiw-card {
    margin-bottom: 40px;
    grid-column: 1 / -1;
  }

  .mn-hiw-cardheading {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: var(--primary-font-family);
  }

  .mn-hiw-cardtext {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0;
    font-family: var(--secondary-font-family);
  }

  .mn-hiw-card:hover .mn-hiw-wheel__0 {
    animation: spinwheel 2s linear infinite;
  }
  .mn-hiw-card:hover .mn-hiw-wheel__1 {
    animation: spinwheel 2s linear infinite;
  }
  .mn-hiw-card:hover .mn-hiw-wheel__2 {
    animation: spinwheel 2s linear infinite;
  }
  .mn-hiw-card:hover .mn-hiw-wheel__3 {
    animation: spinwheel 2s linear infinite;
  }

  @container (width > 700px) {
    .mn-hiw-leftside {
      display: flex;
      padding-left: initial;
      padding-right: initial;
      padding-bottom: initial;
    }

    .mn-hiw-rightsideshell {
      padding-left: initial;
      padding-right: initial;
    }
    .mn-hiw-card {
      grid-column: initial;
    }

    .mn-hiw-titlelabel {
      font-size: 36px;
    }

    .mn-hiw-shell {
      border-radius: 20px;
    }
  }

  @container (width > 960px) {
    .mn-hiw-leftside {
      display: flex;
    }
  }
}

.mn-memories {
  background: #efeeec;
  width: 100%;
  container-type: inline-size;

  .mn-memoriesshell {
    @mixin MarketingContainer;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding-top: 160px;
    padding-bottom: 160px;
    margin-left: auto;
    margin-right: auto;
  }

  .mn-memories-img {
    height: 250px;
  }

  .mn-memories-leftside {
    @mixin GridColumn 1 / -1, 1 / 5, 1 / 5;
    display: flex;
    justify-content: center;
  }

  .mn-memories-rightside {
    @mixin GridColumn 1 / -1, 6 / -1, 7 / -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
    padding-right: 40px;
  }

  .mn-memories-headinglabel {
    font-size: 30px;
    line-height: 1em;
    margin-top: 40px;
    margin-bottom: 20px;
    font-family: var(--primary-font-family);
  }

  .mn-memories-textlabel {
    font-size: 18px;
    display: inline-block;
    margin-bottom: 40px;
    font-family: var(--secondary-font-family);
  }

  @container (width > 700px) {
    .mn-memories-headinglabel {
      font-size: 36px;
      margin-top: initial;
    }

    .mn-memories-img {
      height: 300px;
    }

    .mn-memories-leftside {
      justify-content: initial;
    }

    .mn-memories-rightside {
      padding-left: initial;
      padding-right: initial;
    }
  }

  @container (width > 960px) {
    .mn-memoriesshell {
      padding-left: initial;
      padding-right: initial;
    }

    .mn-memories-img {
      height: 340px;
    }

    .mn-memories-headinglabel {
      font-size: 40px;
    }

    .mn-memories-textlabel {
      font-size: 20px;
    }
  }
}

.mn-seatingplanner {
  width: 100%;
  container-type: inline-size;

  .mn-seatingplannershell {
    @mixin MarketingContainer;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding-top: 160px;
    padding-bottom: 160px;
    margin-left: auto;
    margin-right: auto;
  }

  .mn-seatingplanner-img {
    height: 250px;
  }

  .mn-seatingplanner-leftside {
    @mixin GridColumn 1 / -1, 1 / 7, 1 / 7;
    order: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
    padding-right: 40px;
  }
  .mn-seatingplanner-rightside {
    @mixin GridColumn 1 / -1, 7 / -1, 7 / -1;
    order: 1;
    display: flex;
    justify-content: center;
  }

  .mn-seatingplanner-headinglabel {
    font-size: 30px;
    line-height: 1em;
    margin-top: 40px;
    margin-bottom: 20px;
    font-family: var(--primary-font-family);
  }

  .mn-seatingplanner-textlabel {
    font-size: 18px;
    display: inline-block;
    margin-bottom: 40px;
    font-family: var(--secondary-font-family);
  }

  @container (width > 700px) {
    .mn-seatingplanner-leftside {
      padding-left: initial;
      padding-right: initial;
      order: initial;
    }

    .mn-seatingplanner-rightside {
      order: initial;
      justify-content: flex-end;
    }

    .mn-seatingplanner-headinglabel {
      font-size: 36px;
      margin-top: initial;
    }
  }

  @container (width > 960px) {
    .mn-seatingplanner-headinglabel {
      font-size: 40px;
    }

    .mn-seatingplanner-textlabel {
      font-size: 20px;
    }

    .mn-seatingplannershell {
      margin-left: auto;
      margin-right: auto;
    }

    .mn-seatingplanner-img {
      height: 340px;
    }
  }
}

.mn-footer {
  background: #efeeec;
  container-type: inline-size;

  .mn-footershell {
    @mixin MarketingContainer;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    padding-bottom: 150px;
  }

  .mn-footer-branding-label {
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  .mn-footer-link-group-label {
    font-size: 20px;
    font-family: var(--primary-font-family);
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  .mn-footer-link-group-link {
    @mixin ResetLink;
    font-family: var(--secondary-font-family);
    color: var(--text-color);
  }

  .mn-footer-link-group-list {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .mn-footer-link-groups {
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    gap: 10px;
  }

  .mn-footer-link-group {
    grid-column: span 2;
  }

  .mn-footer-branding {
    margin-bottom: 30px;
  }

  .mn-footer-branding-label {
    font-family: var(--primary-font-family);
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  .mn-footer-link-group-header {
    border-bottom: 1px solid #2c2c2c;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }

  .mn-footer-branding-content {
    grid-column: span 6;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
  }

  .mn-footer-branding-copyright-group {
    display: flex;
    flex-direction: column;
    text-align: right;
    font-size: 12px;
    padding-top: 100px;
  }

  .mn-footer-branding-copyright {
    font-family: var(--secondary-font-family);
  }
}

.mn-shell {
  container-type: inline-size;

  .mn-primary-button {
    @mixin CommonButtonDefaults;

    background: var(--primary-color);
    color: var(--textondark-color);
    border-radius: var(--button-border-radius);
    font-family: var(--primary-font-family);

    &:hover {
      background: var(--primary-hover-color);
    }
  }

  .mn-secondary-button {
    @mixin CommonButtonDefaults;

    background: var(--secondary-color);
    color: var(--textondark-color);
    border-radius: var(--button-border-radius);
    font-family: var(--primary-font-family);

    &:hover {
      background: var(--secondary-hover-color);
    }
  }

  .mn-outline-button {
    @mixin CommonButtonDefaults;

    border: 1px solid var(--text-color);
    color: var(--text-color);
    background: #f7f7f6;
    border-radius: var(--button-border-radius);
    font-family: var(--primary-font-family);

    &:hover {
      background: var(--secondary-hover-color);
      color: var(--textondark-color);
    }
  }

  @container (width > 430px) {
    .mn-large-button {
      font-size: 20px;
    }
  }
}

@keyframes spinwheel {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mn-table-circle {
  height: 250px;
  width: 250px;
  border: 1px solid #2c2c2c;
  border-radius: 9000px;
  position: relative; /* Crucial for absolute positioning of children */
  margin: 20px auto; /* Center the circle on the page */
}

.circle-item {
  width: 40px;
  height: 40px;
  background-color: #aed581; /* Example color */
  border-radius: 50%;
  position: absolute; /* Position relative to the parent .mn-table-circle */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: bold;
}

/* Container for the entire square component */
.mn-table-square {
  position: relative; /* All children with absolute positioning will be placed relative to this container. */
  width: 250px; /* Use the same width and height as the 'containerSize' variable in the component. */
  height: 250px;
  border: 1px solid black; /* A border helps visualize the container, as in the component's inline styles. */
}

/* Individual item within the square */
.square-item {
  position: absolute; /* Allows manual positioning with 'top' and 'left'. */
  width: 40px; /* Use the same size as the 'itemSize' variable in the component. */
  height: 40px;
  background-color: #007bff; /* Example styling from the component. */
  border-radius: 50%; /* Make items round, as specified in the component. */
  display: flex; /* These Flexbox properties center the item's content. */
  justify-content: center;
  align-items: center;
  color: white; /* Example styling from the component. */
  /* The `top` and `left` properties are set dynamically by the component. */
}
