@import "tailwindcss";

@import "./variables.css";
@import "./mixins.css";

/* 
  main app was styled in tailwind
  but will be using style-shelf moving forward
  im not gonna rewrite the whole  thing so itll br progressive
*/

.mn-primary-font {
  font-family: var(--primary-font-family);
}

.mn-secondary-font {
  font-family: var(--secondary-font-family);
}

.mn-marketing-font {
  font-family: var(--marketing-font-family);
}

.mn-engaged-nav-title {
  font-family: var(--secondary-font-family);
  font-size: 20px;
  font-weight: 600;
}

.mn-engaged-nav {
  background-color: var(--canvas-color);
}

.mn-engaged-header-title {
  font-family: var(--primary-font-family);
}

.mn-engaged-nav-links-wrapper {
  background: #fff;
}
