* {
  box-sizing: border-box;
}

:root {
  --primary-font-family: "Times New Roman", Times, serif;
  --secondary-font-family: system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  --marketing-font-family: "Times New Roman", Times, serif;
  --canvas-color: #e8e3cf;
  --text-color: #2c2c2c;
  --primary-color: #745656;
  --secondary-color: #2c2c2c;
  --primary-hover-color: #8e8c80;
  --secondary-hover-color: #000;
  --textondark-color: #fff;
  --button-border-radius: 9999px;
  --max-width-marketing-desktop: 960px;
  --max-width-marketing-tablet: 700px;
}

.mn-header {
  background: var(--canvas-color);
  margin-top: 20px;
  container-type: inline-size;

  .mn-page-title {
    margin-left: auto;
    margin-right: auto;
    font-family: var(--primary-font-family);
  }

  .mn-header-shell {
    display: flex;
    flex-direction: column;
    max-width: var(--max-width-marketing-desktop);
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
  }

  .mn-navigation {
    display: flex;
    flex-direction: column;
  }

  .mn-navigation-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style: none;
    margin-right: 20px;
  }

  .mn-navigation-link {
    font-family: var(--secondary-font-family);
    display: inline-block;
    padding-left: 12px;
    padding-top: 8px;
    padding-right: 12px;
    padding-bottom: 8px;
  }

  .mn-navigation-action-button {
    margin-left: auto;
    margin-right: auto;
  }

  @container (width > 700px) {
    .mn-header-shell {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 0;
    }

    .mn-page-title {
      margin-left: initial;
      margin-right: initial;
    }

    .mn-navigation {
      flex-direction: row;
      align-items: center;
    }

    .mn-navigation-list {
      flex-direction: row;
      align-items: center;
    }

    .mn-navigation-list-item {
      border-bottom: 2px solid transparent;

      &:hover {
        border-bottom-color: var(--text-color);
      }
    }
  }

  @container (width > 960px) {
    .mn-header-shell {
      padding-left: initial;
      padding-right: initial;
    }
  }

  .mn-navigation-link {
    text-decoration: none;
    color: var(--text);
  }
}

.mn-hero {
  container-type: inline-size;

  .mn-heroshell {
    max-width: var(--max-width-marketing-desktop);
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 20px;
  }

  .mn-hero-leftside {
    grid-column: 1 / -1;
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
  }

  .mn-hero-buttonsgroup {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 40px;
  }

  .mn-hero-bigtext {
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .mn-hero-subtext {
    font-family: var(--secondary-font-family);
    font-size: 18px;
    padding-top: 15px;
    display: inline-block;
  }

  .mn-hero-rightside {
    grid-column: 1 / -1;
    order: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
  }

  .mn-hero-fancytextgroup {
    display: none;
  }

  .mn-hero-image {
    height: 250px;
  }

  @container (width > 700px) {
    .mn-hero-leftside {
      grid-column: initial;
      order: initial;
    }

    .mn-hero-rightside {
      grid-column: initial;
      order: initial;
      align-items: flex-start;
      margin-top: 40px;
      margin-bottom: 80px;
    }

    .mn-hero-leftsideshell {
      width: 430px;
    }

    .mn-hero-bigtext {
      font-size: 48px;
    }

    .mn-hero-subtext {
      font-size: 20px;
    }

    .mn-hero-rightside {
      width: 430px;
    }

    .mn-hero-fancytextgroup {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    .mn-hero-fancytext1 {
      font-size: 24px;
    }

    .mn-hero-fancytext2 {
      font-size: 24px;
    }

    .mn-hero-fancytext3 {
      font-size: 24px;
      font-weight: 700;
    }

    .mn-hero-fancytext4 {
      font-size: 24px;
    }
  }

  @container (width > 960px) {
    .mn-heroshell {
      height: 540px;
    }

    .mn-hero-bigtext {
      font-size: 60px;
    }

    .mn-hero-subtext {
      font-size: 24px;
    }

    .mn-hero-fancytextgroup {
      width: initial;
      align-self: end;
    }

    .mn-hero-rightside {
      margin-top: initial;
      margin-bottom: initial;
      align-items: flex-end;
    }

    .mn-hero-image {
      height: 340px;
    }
  }
}

.mn-hiw {
  width: 100%;
  container-type: inline-size;

  @media (width > 700px) {
    padding-left: 40px;
    padding-right: 40px;
  }

  .mn-hiw-shell {
    padding-top: 60px;
    padding-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-left: auto;
    margin-right: auto;
    background: #f8f6d8;
  }

  .mn-hiw-leftside {
    grid-column: 1 / -1;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 60px;
  }
  .mn-hiw-rightside {
    grid-column: 1 / -1;
  }

  .mn-hiw-titlelabel {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .mn-hiw-rightsideshell {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .mn-hiw-card {
    margin-bottom: 40px;
    grid-column: 1 / -1;
  }

  .mn-hiw-cardheading {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: var(--primary-font-family);
  }

  .mn-hiw-cardtext {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 0;
    font-family: var(--secondary-font-family);
  }

  .mn-hiw-card:hover .mn-hiw-wheel__0 {
    animation: spinwheel 2s linear infinite;
  }
  .mn-hiw-card:hover .mn-hiw-wheel__1 {
    animation: spinwheel 2s linear infinite;
  }
  .mn-hiw-card:hover .mn-hiw-wheel__2 {
    animation: spinwheel 2s linear infinite;
  }
  .mn-hiw-card:hover .mn-hiw-wheel__3 {
    animation: spinwheel 2s linear infinite;
  }

  @container (width > 700px) {
    .mn-hiw-leftside {
      grid-column: 1 / 5;
      display: flex;
      justify-content: flex-end;
      padding-left: initial;
      padding-right: initial;
      padding-bottom: initial;
    }
    .mn-hiw-rightside {
      grid-column: 6 / -1;
      padding-right: 40px;
    }

    .mn-hiw-rightsideshell {
      padding-left: initial;
      padding-right: initial;
    }
    .mn-hiw-card {
      grid-column: initial;
    }

    .mn-hiw-titlelabel {
      font-size: 36px;
    }

    .mn-hiw-shell {
      border-radius: 20px;
    }
  }

  @container (width > 960px) {
    .mn-hiw-leftside {
      grid-column: 1 / 5;
      display: flex;
      justify-content: flex-end;
    }
    .mn-hiw-rightside {
      grid-column: 6 / -1;
    }
  }
}

.mn-memories {
  background: #efeeec;
  width: 100%;
  container-type: inline-size;

  .mn-memoriesshell {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .mn-memories-img {
    height: 250px;
  }

  .mn-memories-leftside {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
  }

  .mn-memories-rightside {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
    padding-right: 40px;
  }

  .mn-memories-headinglabel {
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 20px;
    font-family: var(--primary-font-family);
  }

  .mn-memories-textlabel {
    font-size: 20px;
    display: inline-block;
    margin-bottom: 40px;
    font-family: var(--secondary-font-family);
  }

  @container (width > 700px) {
    .mn-memories-headinglabel {
      font-size: 36px;
      margin-top: initial;
    }

    .mn-memories-img {
      height: 300px;
    }

    .mn-memories-leftside {
      grid-column: 1 / 6;
    }

    .mn-memories-rightside {
      grid-column: 6 / -1;
      padding-left: initial;
      padding-right: initial;
    }
  }

  @container (width > 960px) {
    .mn-memories-img {
      height: 340px;
    }

    .mn-memories-leftside {
      grid-column: 1 / 5;
      justify-content: flex-end;
      padding-left: 40px;
    }

    .mn-memories-rightside {
      grid-column: 6 / 11;
    }

    .mn-memories-headinglabel {
      font-size: 40px;
    }

    .mn-memories-textlabel {
      font-size: 24px;
    }
  }
}

.mn-seatingplanner {
  width: 100%;
  container-type: inline-size;

  .mn-seatingplannershell {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding-top: 60px;
    padding-bottom: 60px;
    max-width: var(--max-width-marketing-tablet);
    margin-left: auto;
    margin-right: auto;
  }

  .mn-seatingplanner-img {
    height: 250px;
  }

  .mn-seatingplanner-leftside {
    grid-column: 1 / -1;
    order: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
    padding-right: 40px;
  }
  .mn-seatingplanner-rightside {
    grid-column: 1 / -1;
    order: 1;
    display: flex;
    justify-content: flex-end;
  }

  .mn-seatingplanner-headinglabel {
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 20px;
    font-family: var(--primary-font-family);
  }

  .mn-seatingplanner-textlabel {
    font-size: 20px;
    display: inline-block;
    margin-bottom: 40px;
    font-family: var(--secondary-font-family);
  }

  @container (width > 700px) {
    .mn-seatingplanner-leftside {
      grid-column: 1 / 6;
      padding-left: initial;
      padding-right: initial;
      order: initial;
    }

    .mn-seatingplanner-rightside {
      grid-column: 6 / -1;
      order: initial;
    }

    .mn-seatingplanner-headinglabel {
      font-size: 36px;
      margin-top: initial;
    }
  }

  @container (width > 960px) {
    .mn-seatingplanner-headinglabel {
      font-size: 40px;
    }

    .mn-seatingplanner-textlabel {
      font-size: 24px;
    }

    .mn-seatingplannershell {
      max-width: var(--max-width-marketing-desktop);
      margin-left: auto;
      margin-right: auto;
    }

    .mn-seatingplanner-img {
      height: 340px;
    }
  }
}

.mn-shell {
  container-type: inline-size;

  .mn-primary-button {
    /* defaults */
    text-decoration: none;
    border: none;
    padding-top: 12px;
    padding-right: 32px;
    padding-bottom: 12px;
    padding-left: 32px;
    width: fit-content;
    text-wrap: nowrap;
    position: relative;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background 0.25s ease, color 0.25s ease, transform 0.18s ease,
      box-shadow 0.25s ease;

    /* theme */
    background: var(--primary-color);
    color: var(--textondark-color);
    border-radius: var(--button-border-radius);
    font-family: var(--primary-font-family);

    &:hover {
      background: var(--primary-hover-color);
      transform: translateY(-2px);
    }

    &:active {
      transform: translateY(0);
    }
  }

  .mn-secondary-button {
    /* defaults */
    text-decoration: none;
    border: none;
    padding-top: 12px;
    padding-right: 32px;
    padding-bottom: 12px;
    padding-left: 32px;
    width: fit-content;
    text-wrap: nowrap;
    position: relative;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background 0.25s ease, color 0.25s ease, transform 0.18s ease,
      box-shadow 0.25s ease;

    /* theme */
    background: var(--secondary-color);
    color: var(--textondark-color);
    border-radius: var(--button-border-radius);
    font-family: var(--primary-font-family);

    &:hover {
      background: var(--secondary-hover-color);
      transform: translateY(-2px);
    }

    &:active {
      transform: translateY(0);
    }
  }

  .mn-outline-button {
    /* defaults */
    text-decoration: none;
    border: none;
    padding-top: 12px;
    padding-right: 32px;
    padding-bottom: 12px;
    padding-left: 32px;
    width: fit-content;
    text-wrap: nowrap;
    position: relative;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background 0.25s ease, color 0.25s ease, transform 0.18s ease,
      box-shadow 0.25s ease;

    /* theme */
    border: 1px solid var(--text-color);
    color: var(--text-color);
    background: transparent;
    border-radius: var(--button-border-radius);
    font-family: var(--primary-font-family);

    &:hover {
      background: var(--secondary-hover-color);
      color: var(--textondark-color);
      transform: translateY(-2px);
    }
  }

  @container (width > 430px) {
    .mn-large-button {
      font-size: 20px;
    }
  }
}

@keyframes spinwheel {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
